body {
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    margin: 0px 60px;
}

nav {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 0px;
    border-bottom: 1px solid lightgrey;
}

a {
    text-decoration: none;
    list-style: none;
    text-decoration: none;
    list-style: none;
    color: black;
}a:hover {
    text-decoration: underline;
}

.nav-anchor {
    font-size: 20px;
    margin-right: 5px;
}

p {
    font-size: 14px;
    border-bottom: 1px solid lightgray;
    padding: 16px 0px;
}

.span {
    color: rgb(91, 91, 91);
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}
.updated {
    font-size: 12px;
}